PLAYER NAME: <%= @report.player_name %><br>
BATS: <%= @report.bats %><br>
THROWS: <%= @report.throws %><br>
DRAFTED: <%= @report.drafted %><br>
POSITION: <%= @report.position %><br>
AGE:<%= @report.age %><br>
DOB: <%= @report.day_of_birth %><br>
HT: <%= @report.height %><br>
WT: <%= @report.weight %><br>


<form method="post" action="/reports/<%= @report.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>