PLAYER NAME: <%= @report.player_name %><br>
BATS: <%= @report.bats %><br>
THROWS: <%= @report.throws %><br>
DRAFTED: <%= @report.drafted %><br>
POSITION: <%= @report.position %><br>
AGE:<%= @report.age %><br>
DOB: <%= @report.day_of_birth %><br>
HT: <%= @report.height %><br>
WT: <%= @report.weight %><br>

<div id='flash' class='error'>
    <a class="close" data-dismiss="alert">&#215;</a>
    <%= flash[:error] %>
</div>

<form method="get" action="/reports/<%= @report.id %>/edit">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="submit" value="Edit">
</form>

<form method="post" action="/reports/<%= @report.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>
