<div>
      <h3><b>Scounting Report for:</b> <%= @report.player_name %></h3>
      <ul>
        <li><b>Player Name:</b> <%= @report.player_name %></li>
        <li><b>Bats:</b> <%= @report.bats %></li>
        <li><b>Throws:</b> <%= @report.throws %></li>
        <li><b>Drafted:</b> <%= @report.drafted %></li>
        <li><b>Position:</b> <%= @report.position %></li>
        <li><b>Age:</b> <%= @report.age %></li>
        <li><b>Date of Birth:</b> <%= @report.day_of_birth %></li>
        <li><b>Hight:</b> <%= @report.height %></li>
        <li><b>Weight:</b> <%= @report.weight %></li>
      </ul>
      <% if current_user == @report.user %>
<form method="get" action="/reports/<%= @report.id %>/edit">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="submit" value="Edit">
</form>

<form method="post" action="/reports/<%= @report.id %>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>
<% end %> 
    </div>




 
